extends layout
block content
  #info.info.full.animated.fadeInUpBig
    h1.title-quest.blue Вашi результати
    p.comment-numb Квестів(6)
    .info-text
      table.tftable(border='1')
        tr
          th Квест
          th Час
          th +
          th -
          th Бали
        tr
          td Строка:1 Столбец:1
          td Строка:1 Столбец:2
          td Строка:1 Столбец:3
          td Строка:1 Столбец:4
          td Строка:1 Столбец:5
        tr
          td Строка:2 Столбец:1
          td Строка:2 Столбец:2
          td Строка:2 Столбец:3
          td Строка:2 Столбец:4
          td Строка:2 Столбец:5
        tr
          td Строка:3 Столбец:1
          td Строка:3 Столбец:2
          td Строка:3 Столбец:3
          td Строка:3 Столбец:4
          td Строка:3 Столбец:5
        tr
          td Строка:4 Столбец:1
          td Строка:4 Столбец:2
          td Строка:4 Столбец:3
          td Строка:4 Столбец:4
          td Строка:4 Столбец:5
        tr
          td Строка:5 Столбец:1
          td Строка:5 Столбец:2
          td Строка:5 Столбец:3
          td Строка:5 Столбец:4
          td Строка:5 Столбец:5
        tr
          td Строка:6 Столбец:1
          td Строка:6 Столбец:2
          td Строка:6 Столбец:3
          td Строка:6 Столбец:4
          td Строка:6 Столбец:5
    h1.title-quest.blue.mrg-top Загальний рейтинг учасникiв
    p.comment-numb Учасників(6)
    .info-text
      table.tftable(border='1')
        tr
          th Учасник
          th Час
          th Бали
        tr
          td Строка:1 Столбец:1
          td Строка:1 Столбец:2
          td Строка:1 Столбец:3
        tr
          td Строка:2 Столбец:1
          td Строка:2 Столбец:2
          td Строка:2 Столбец:3
        tr
          td Строка:3 Столбец:1
          td Строка:3 Столбец:2
          td Строка:3 Столбец:3
        tr
          td Строка:4 Столбец:1
          td Строка:4 Столбец:2
          td Строка:4 Столбец:3
        tr
          td Строка:5 Столбец:1
          td Строка:5 Столбец:2
          td Строка:5 Столбец:3
        tr
          td Строка:6 Столбец:1
          td Строка:6 Столбец:2
          td Строка:6 Столбец:3
      p
        small
          a(href='http://daruse.ru/', target='_blank') by daruse.ru
  // Футер
  .footer
    p
      a(href='#') Зворотній зв'язок

      a(href='#') Поділитися ресурсом

