doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
nav
  .container
    .col-lg-12.navbar-header
     h1
       a(href='#') Моя країна
     ul.nav.navbar-nav.navbar-right
       li.col-lg-3
         h4
          a(href='#') Вхід
       li.col-lg-6
         h4
           a(href='#') Реєстрація
       li.col-lg-1
        h4
         span.glyphicon.glyphicon-log-in