html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title Квест - Моя країна
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/animate.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/css/font-awesome.min.css')
        script(src='/javascripts/jquery-3.1.1.min.js')
        //script(src='/javascripts/js/bootstrap.min.js')
        //script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/wow.js')
        script.
            new WOW().init();
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        .wrapper
            // Шапка
            .container.top
                .header
                    img(src='../images/logo.png')
                    .top-panel
                        p
                            a(href='/users/login') Вхід
                        p
                            a(href='/users/register') Реєстрація
                        p
                            a(href='#')
                                i.fa.fa-share-alt(aria-hidden='true')
             block content