extends layout
block content
            .container.center
                .form.animated.fadeInUpBig
                    h1 Авторизацiя
                    p
                        | Щоб почати квест увійдіть або
                        a(href='/users/register') зареєструйтесь
                    if(success)
                        .alert-success=success_msg
                    form(method='post', action='/users/login')
                        input(type='email', name='email', placeholder='Логін')
                        input(type='password', name='password', placeholder='Пароль')
                        select(name='role')
                            option(value='Учень')
                                img(src='/images/logo.png')
                                | Учень
                            option(value='Вчитель') Вчитель
                            option(value='Адмін') Адміністратор
                        button.main-btn(type='submit') Вхiд
                    p Авторизація через соцмережі
                    .soc-login
                        a(href='#')
                            i.fa.fa-google-plus(aria-hidden='true')
                        a(href='#')
                            i.fa.fa-facebook-square(aria-hidden='true')
                        a(href='#')
                            i.fa.fa-vk(aria-hidden='true')
                        a(href='#')
                            i.fa.fa-telegram(aria-hidden='true')
            // Шаги
            .step
                .step-smt
                    p.step-text Вхід
                    p
                        span.circle-1.wow.rubberBand(data-wow-delay='0.5s')
                            span.circle-2
                .step-smt
                    p
                        span.circle-2
                .step-smt
                    p
                        span.circle-2
            // Футер
            .footer
                p
                    a(href='#') Зворотній зв'язок
                    a(href='#') Поділитися ресурсом
