//
   Created by olegl on 04.05.2017.

extends layout
block content
    .container.center
        .form.animated.fadeInUpBig
            h1 Реєстрацiя
            if(errors)
                each error in errors
                    .alert.alert-danger.=error['msg']

            form(method='post', action='')
                input(type='text', name='login', placeholder='Логін')
                input(type='text', name='name', placeholder="Ім'я")
                input(type='text', name='surname', placeholder='Прізвище')
                input(type='email', name='email', placeholder='Email')
                input(type='password', name='password', placeholder='Пароль')
                input(type='password', name='password2', placeholder='Підтвердіть пароль')
                input(type='text', name='teacher', placeholder='Ваш вчитель')
                select(name='role')
                    option(value='Учень')
                        img(src='/images/logo.png')
                        | Учень
                    option(value='Вчитель') Вчитель
                    option(value='Адмін') Адміністратор
                button.main-btn(type='submit' name='submit') Вхiд
            p Авторизація через соцмережі
            .soc-login
                a(href='#')
                    i.fa.fa-google-plus(aria-hidden='true')
                a(href='#')
                    i.fa.fa-facebook-square(aria-hidden='true')
                a(href='#')
                    i.fa.fa-vk(aria-hidden='true')
                a(href='#')
                    i.fa.fa-telegram(aria-hidden='true')
    // Шаги
    .step
        .step-smt
            p
                    span.circle-2
        .step-smt
            p.step-text Реєстрація
            p
                span.circle-1.wow.rubberBand(data-wow-delay='0.5s')
                    span.circle-2
        .step-smt
            p
                span.circle-2
    // Футер
    .footer
        p
            a(href='#') Зворотній зв'язок
            a(href='#') Поділитися ресурсом
